name: ci

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: pre-commit/action@v3.0.1

  docs:
    name: Build docs and run doctests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        cache: pip
        # Keep in sync with .readthedocs.yaml
        python-version: 3.12
    - run: python -m pip install -r docs/requirements.txt
    - run: python -m sphinx -nb html docs/ docs/_build/html
    - run: python -m sphinx -b linkcheck docs/ docs/_build/html
